body {
    width: 100%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.message {
    padding: .25em 5em .25em .5em;
    position: relative;
}

.message .from,
.message .text {
    display: inline;
}

.message .from {
    padding: 0 .5em;
    border: 1px solid transparent;
    border-radius: .5em;
}

.message .from.special {
    border-color: lightpink;
}

.message .from.bot {
    border-color: lightskyblue;
}

.message .time {
    display: none;
    position: absolute;
    font-size: 16px;
    padding-right: .5em;
    color: #999;
    right: 0;
    top: .25em;
}

.message:hover {
    background-color: whiteSmoke;
}

.message:hover .time {
    display: inline-block;
}

.message .from {
    font-weight: 400;
}

.bottom-line {
    display: none;
    height: 3px;
    width: 100%;
    margin-top: .25em;
    background-color: lightsteelblue;
}

.bottom-line.visible {
    display: block;
}

@media (max-width: 400px) {
    body {
        font-size: 16px;
    }

    .message .time {
        display: inline-block;
    }

    .bottom-line {
        height: 1px;
    }
}